.archives {
  min-height: calc(100vh - 120px);
  padding: 40px 100px;

  h3 {
    margin: 0 0 1.25rem;
  }

  .archive-list {
    margin: 0 0 20px 40px;
    list-style: "\1F449";
    
    li {
      padding: 0 10px;
      margin-bottom: 5px;
      font-size: 14px;

      a {
        font-weight: 700;
        color: #e22d30;
      }
    }
  }
}

@media (max-width: 991px) {
  .archives {
    padding: 40px 50px;
  }
}
