.home-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
}

.home-section#home {
  justify-content: space-between;
}

.home-block {
  width: 480px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.home-header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  max-height: 78px;
  height: 78px;
  padding: 0 100px 0 100px;
  z-index: 1000;
  transition: all 0.5s ease;
}

.home-header.sticky {
  height: 60px;
  max-height: 60px;
  background: #fff;
}

#home-about-button {
  margin-top: 30px;
}

.home-logo {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}

.home-header .logo-image {
  width: 48px;
  height: 60px;
  padding: 0 0 10px;
  background: url("/images/logo-white.png") no-repeat center;
  background-size: 100%;
}

.home-header.sticky .logo-image {
  background: url("/images/logo-black.png") no-repeat center;
  background-size: 100%;
}

.home-header .logo-name {
  width: 140px;
  height: 40px;
  padding: 10px 0 0;
  background: url("/images/logo-name.png") no-repeat bottom;
  background-size: 100%;
}

.home-header .menubar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-header.sticky .logo-name {
  background: url("/images/logo-name-black.png") no-repeat bottom;
  background-size: 100%;
}

.home-header.sticky .menuToggle::before {
  background: #333;
}

.home-header.sticky .menuToggle::after {
  background: #333;
  box-shadow: 0 -8px 0 #333;
}

.home-header.sticky .menuToggle.collapse::after {
  box-shadow: 0 0 0 #333;
}

.home-header li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.home-header.sticky li a {
  color: #111;
}

#about-title {
  margin-bottom: 30px;
}

#about-content {
  margin-top: 30px;
  text-align: justify;
  width: 90%;
  text-indent: 2em;
}

// Menu
.home-header .menuToggle {
  width: 0;
  padding: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.home-header .menuToggle::before {
  background: #fff;
}

.home-header .menuToggle::after {
  background: #fff;
  box-shadow: 0 -8px 0 #fff;
}

.home-header.sticky .menuToggle.active::after {
  box-shadow: 0 0 0 #111;
}

.menubar ul.menuItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.5s ease;
}

.menubar ul.menuItem li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  transition: all 0.5s ease;
}
// End Menu

@media screen and (max-width: 991px) {
  .home-section {
    padding: 0 10px;
  }

  .home-block {
    font-size: 8px;
  }

  .home-header {
    z-index: 1000;
    padding: 0 50px;
  }

  // Menu
  .home-header .menuToggle {
    visibility: visible;
    width: 60px;
    padding: 0 15px;
  }

  .menubar ul.menuItem {
    position: fixed;
    left: -100%;
    top: 78px;
    width: 100%;
    height: calc(100vh - 78px);
    background: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 50px;
    text-align: center;
    transition: 0.5s;
    z-index: 999;
    color: #111;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  .home-header .menubar ul.menuItem.active {
    left: 0;
  }

  .menubar ul.menuItem li {
    margin: 20px 0;
  }

  .home-header.sticky .menubar ul.menuItem.active {
    top: 60px;
    height: calc(100vh - 60px);

  }

  ul.menuItem.active a {
    color: #111;
  }
  // End Menu
}

@media screen and (max-width: 680px) {
  // .home-header ul {
  //   display: none;
  // }

  .home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-section#home {
    flex-direction: row;
  }

  .home-block {
    margin-top: 40px;
    width: 90%;
  }

  .menubar ul.menuItem {
    padding: 40px 50px;
  }
}
