.home-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px;

  &#home {
    justify-content: space-between;
  }
}

.home-block {
  width: 480px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.home-header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  max-height: 78px;
  height: 78px;
  padding: 0 100px 0 100px;
  z-index: 1000;
  transition: all 0.5s ease;

  li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }

  .menuToggle {
    width: 0;
    padding: 0;
    visibility: hidden;
    display: none;

    &::before {
      background: #fff;
    }
    &::after {
      background: #fff;
      box-shadow: 0 -8px 0 #fff;
    }
  }

  &.sticky {
    height: 60px;
    max-height: 60px;
    background: #fff;

    li a {
      color: #111;
    }

    .menuToggle {
      &::before {
        background: #333;
      }

      &::after {
        background: #333;
        box-shadow: 0 -8px 0 #333;
      }

      &.collapse::after {
        box-shadow: 0 0 0 #333;
      }

      &.active::after {
        box-shadow: 0 0 0 #111;
      }
    }
  }

  .menubar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    ul.menuItem {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: relative;
      transition: all 0.5s ease;

      li {
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        transition: all 0.5s ease;
      }
    }
  }
}

#home-about-button {
  margin-top: 30px;
}

#about-title {
  margin-bottom: 30px;
}

#about-content {
  margin-top: 30px;
  text-align: justify;
  width: 90%;
  text-indent: 2em;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #111;
  color: #fff;

  #contact-content {
    display: flex;
    flex-direction: row;
    margin-top: 60px;

    .home-block {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      h3 {
        font-size: 1.5em;
        text-align: center;
      }

      img {
        width: 120px;
        height: 120px;
        margin-top: 40px;
      }
      .qrcode {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .contact-box {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 30px;

        h3 {
          font-size: 22px;
          color: #2196f3;
          text-align: left;
        }

        .bx {
          width: 30px;
          height: 30px;
          font-size: 1.5em;
          margin-right: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .home-section {
    padding: 0 10px;
  }

  .home-block {
    font-size: 8px;
  }

  .home-header {
    z-index: 1000;
    padding: 0 50px;

    .menuToggle {
      visibility: visible;
      width: 60px;
      padding: 0 15px;
      display: flex;
    }

    .menubar {
      ul.menuItem {
        position: fixed;
        left: -100%;
        top: 78px;
        width: 100%;
        height: calc(100vh - 78px);
        background: #ccc;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 50px;
        text-align: center;
        transition: 0.5s;
        z-index: 999;
        color: #111;
        border-top: 1px solid rgba(0, 0, 0, 0.2);

        &.active {
          left: 0;

          a {
            color: #111;
          }
        }

        li {
          margin: 20px 0;
        }
      }
    }

    &.sticky {
      .menubar ul.menuItem.active {
        top: 60px;
        height: calc(100vh - 60px);
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .home-header {
    padding: 0 20px;
  }

  .home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &#home {
      flex-direction: row;
    }
  }

  .home-block {
    margin-top: 40px;
    width: 90%;
  }

  .menubar ul.menuItem {
    padding: 40px 50px;
  }

  #contact-title{
    margin-top: 80px;
  }

  #contact #contact-content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    .home-block{
      margin-bottom: 40px;
      h3{
        font-size: 22px;
      }
      .contact-box{
        margin-top: 10px;
      }
      img{
        margin-top: 10px;
      }
    }
  }
}
