.xksec-logo {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}

.xksec-image {
  width: 48px;
  height: 60px;
  padding: 0 0 10px;
  background: url("/images/logo-white.png") no-repeat center;
  background-size: 100%;
}

.xksec-logo.black .xksec-image {
  background: url("/images/logo-black.png") no-repeat center;
  background-size: 100%;
}

.xksec-name {
  width: 140px;
  height: 40px;
  padding: 10px 0 0;
  background: url("/images/logo-name.png") no-repeat bottom;
  background-size: 100%;
}

.xksec-logo.black .xksec-name {
  background: url("/images/logo-name-black.png") no-repeat bottom;
  background-size: 100%;
}
