.posts-header {
  height: 80px;
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

.posts-header .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.posts-content {
  min-height: calc(100vh - 120px);
}

.logo-image {
  width: 48px;
  height: 60px;
  padding: 0 0 10px;
  background: url("/images/logo-black.png") no-repeat center;
  background-size: 100%;
}

.logo-name {
  width: 140px;
  height: 40px;
  padding: 10px 0 0;
  background: url("/images/logo-name-black.png") no-repeat bottom;
  background-size: 100%;
}

ul.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul.navbar li {
  list-style: none;
  padding: 0 10px;
  border-radius: 2px;
  color: #555;
}

ul.navbar li a {
  text-decoration: none;
  font-size: 13px;
  display: block;
}

ul.navbar li a:link,
ul.navbar li a:visited {
  color: inherit;
}

ul.navbar li a:hover {
  background: #ccc;
}
