.posts-header {
  height: 80px;
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;

  // Menu
  .menuToggle {
    width: 0;
    padding: 0;
    visibility: hidden;
    display: none;
  }
  // EndMenu
}

ul.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  li {
    list-style: none;
    padding: 0 10px;
    border-radius: 2px;
    color: #555;

    a {
      text-decoration: none;
      font-size: 13px;
      display: block;

      &:link,
      &:visited {
        color: inherit;
      }

      &:hover {
        background: #ccc;
      }
    }
  }
}

.posts-body {
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 30px;
}

// Title
.posts-title {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;

  h2 {
    font-size: 26px;
    font-weight: 600;
    margin: 20px 0 10px;
    color: #444;
  }
}

// 发表于
.posts-title span,
.article-title span {
  font-size: 12px;
  color: #999;
}

.posts-content,
.posts-article {
  width: 100%;
  padding: 0 200px;
}

.posts-content {
  min-height: 400px;
  counter-reset: h1;

  @for $i from 1 through 4 {
    h#{$i} {
      counter-reset: h#{$i + 1};
    }
  }

  h1:before {
    counter-increment: h1;
    content: counter(h1) ". ";
  }

  h2:before {
    counter-increment: h2;
    content: counter(h1) "." counter(h2) ". ";
  }

  h3:before {
    counter-increment: h3;
    content: counter(h1) "." counter(h2) "." counter(h3) ". ";
  }

  h4:before {
    counter-increment: h4;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) ". ";
  }
}

.posts-article {
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;

  // 阅读全文
  a {
    &.goto-article {
      text-decoration: none;
      font-size: 14px;
      display: block;
      line-height: 2em;
      border-bottom: 2px solid #666;
      margin-left: 0.1em;
      text-decoration: none;
    }

    &:link,
    &:visited {
      color: #555;
    }
  }
}

.article-title {
  width: 100%;
  text-align: left;

  h2 {
    margin: 20px 0 10px;

    a {
      font-size: 26px;
      font-weight: 600;
      border: 0;
      color: #555;
      width: fit-content;
      text-decoration: none;
    }
  }

  span {
    font-size: 12px;
    color: #999;
  }
}

.article-summary p,
div.article-summary {
  color: #555;
  font-size: 14px;
  text-align: justify;
  text-indent: 2em;
  margin: 1em 0;
}

// For Markdown Generated Documents
.posts-content {
  margin-bottom: 40px;

  a {
    color: #00a4ff;
    text-decoration: none;

    &:visited,
    &:hover {
      text-decoration: underline;
    }
  }

  @for $i from 1 through 6 {
    h#{$i} {
      margin: 20px 0 10px;
      font-weight: 600;
      line-height: 1.5;
      font-family: "Lato", "PingFang SC", "Microsoft YaHei", sans-serif;
      display: block;
      padding-top: 10px;
      color: #444;
    }
  }
  p {
    text-align: justify;
    text-indent: 2em;
    margin: 15px 0 10px;
    font-size: 14px;
    color: #555;
    line-height: 1.6em;
  }

  @for $i from 1 through 6 {
    h#{$i} {
      font-size: 24px - ($i - 1) * 2px;
    }
  }

  // List
  ul {
    padding: 10px;
    padding-left: 2em;
    border: 1px solid rgba(1, 1, 1, 0.1);
    list-style-type: disc;
    li {
      line-height: 24px;
      font-size: 12px;
      color: #555;
    }
  }

  ol {
    padding: 10px;
    padding-left: 2em;
    list-style-type: decimal-leading-zero;
    li {
      line-height: 24px;
      font-size: 14px;
      color: #555;
    }
  }
  // End List

  :not(pre, div, td) > code {
    background: #f6f6f6;
    color: #e83e8c;
    border-radius: 3px;
    font-size: 0.8em;
    margin: 0 3px;
  }
}

// 高亮
.highlight {
  border: 1px solid rgba(1, 1, 1, 0.1);
  margin: 10px 0;

  span {
    line-height: 20px;
    word-wrap: break-word;
    word-break: break-all;
    width: auto;
    white-space: break-spaces;
    position: relative;
  }

  code {
    white-space: break-spaces;
  }

  pre {
    padding: 10px;
  }
}
// End 高亮

// BEGIN blockquote
blockquote {
  margin: 0 auto;
  padding: 1em;
  border-left: 5px solid #7dac93;
}
blockquote:before {
  display: none;
}
blockquote:not(:first-of-type) {
  margin-top: .5em;
}
// End Blockquote


@media screen and (max-width: 991px) {
  .posts-content,
  .posts-article {
    width: 100%;
    padding: 0 100px;
  }

  .posts-header {
    padding: 0 50px;
    z-index: 1000;
    .menuToggle {
      visibility: visible;
      width: 60px;
      padding: 0 15px;
      margin-top: 10px;
      display: flex;
    }

    .navbar {
      position: fixed;
      left: -100%;
      top: 80px;
      width: 100%;
      height: calc(100vh - 80px);
      background: #ccc;
      transition: 0.5s;
      display: flex;
      flex-direction: column;
      z-index: 999;

      &.active {
        left: 0;
      }

      a,
      li {
        margin-top: 20px;
      }

      a,
      a:visited {
        color: #111;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 680px) {
  .posts-header {
    padding: 0 20px;
  }
  .posts-content,
  .posts-article {
    width: 100%;
    padding: 0 50px;
  }

  .article-title h2 a {
    font-size: 22px;
    font-weight: 600;
    margin: 20px 0 10px;
  }
}

@media (max-width: 400px) {
  .posts-content,
  .posts-article {
    padding: 0 20px;
  }
}
