{{ $blockId := .Get "id" | default "" }}
{{ $bgImg := .Get "bgImg" }}
{{ with $bgImg }}
<link rel="preload" as="image" href="{{ $bgImg }}" media="(min-width: 1200px)">
<style>
.home-section#{{ $blockId }} {
    background-image: url({{ $bgImg }}); 
    background-size: cover;
    background-position: right;
}
@media screen and (max-width: 900px) {
    .home-section#{{ $blockId }} {
        background-position: right 30% bottom 50%;
    }
}

</style>
{{end}}

<section class="home-section" id='{{ $blockId }}' >
    {{ .Inner }}
</section>
