{{/* 归档列表页 */}}

{{ define "title" }}
<title>Archives | {{ .Site.Title }} </title>
{{ end }}

{{ define "headcss" }}
{{ partial "archives/headcss" . }}
{{ end }}

{{ define "header" }}
{{ partial "posts/header" . }}
{{ end }}

{{ define "main" }}


<div class="archives">
    {{ range (.Site.RegularPages.GroupByDate "2006") }}
    <h3>{{ .Key }}</h3>

    <ul class="archive-list">
        {{ range (where .Pages "Type" "posts") }}
        <li>
            {{ .PublishDate.Format "2006-01-02" }}
            ->
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}

</div>
{{ end }}
