{{/* Page模板 - Posts */}}

{{ define "title" }}
{{ $title := .Title | default .Section }}
<title>{{ title $title | safeHTML }} | {{ .Site.Title }}</title>
{{ end }}

{{ define "headcss" }}
{{ partial "posts/headcss" . }}
{{ end }}

{{ define "header" }}
{{ partial "posts/header" . }}
{{ end }}

{{ define "main" }}
<div class="posts-title">
    <h2>{{ .Page.Title }}</h2>
    <span>{{ partial "svg.html" "publish" }}发表于 {{ .Date.Format "2006-01-02" }} </span>
</div>
<div class="posts-content">
{{.Content}}
</div>

{{ partial "posts/pagination.html" . }}
{{ partial "posts/clipboard.html" . }}
{{ end }}