{{/* 标签-inner模板页 */}}
{{ define "title" }}
{{ $title := .Title | default "Tags" }}
<title>{{ title $title | safeHTML }} | {{ .Site.Title }}</title>
{{ end }}

{{ define "headcss" }}
{{ partial "archives/headcss" . }}
{{ end }}

{{ define "header" }}
{{ partial "posts/header" . }}
{{ end }}

{{ define "main" }}
<div class="archives">
    <h3>标签: {{.Title}}</h3>
    <ul class="archive-list">
        {{ range .Pages }}
        <li>
            {{ .PublishDate.Format "2006-01-02" }} -> <a href="{{ .Page.RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}