{{/*  标签模板页  */}}
{{ define "title" }}
{{ $title := .Title | default "Tags" }}
<title>{{ title $title | safeHTML }} | {{ .Site.Title }}</title>
{{ end }}

{{ define "headcss" }}
{{ partial "archives/headcss" . }}
{{ end }}

{{ define "header" }}
{{ partial "posts/header" . }}
{{ end }}

{{ define "main" }}
<div class="archives">
    <h3>共{{ len .Data.Terms }}个标签</h3>
    <ul class="archive-list">
        {{ range .Data.Terms.Alphabetical }}
        <li>
            <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
            <span> 共{{ .Count }}篇文章</span>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}