<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ $title := .Title | default .Section }}
    <title>{{ title $title | safeHTML }} | {{ .Site.Title }}</title>
    {{ partial "posts/headcss" . }}
</head>

<body>
    {{ partial "posts/header.html" . }}

    <div class="posts-body">
        {{- block "main" . }}{{- end }}
    </div>
    {{- partial "copyright.html" . -}}
</body>

</html>