{{ $css := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
<link href="{{ $css.RelPermalink }}" rel="stylesheet" />

{{ $css := resources.Get "scss/posts.scss" | toCSS | minify | fingerprint }}
<link href="{{ $css.RelPermalink }}" rel="stylesheet" />

{{ $css := resources.Get "scss/clipboard.scss" | toCSS | minify | fingerprint }}
<link href="{{ $css.RelPermalink }}" rel="stylesheet" />

{{ $css := resources.Get "scss/pagination.scss" | toCSS | minify | fingerprint }}
<link href="{{ $css.RelPermalink }}" rel="stylesheet" />
