{{ $css := resources.Get "scss/posts.scss" | toCSS | minify | fingerprint }}
<link href="{{ $css.RelPermalink }}" rel="stylesheet" />

{{ $css := resources.Get "scss/clipboard.scss" | toCSS | minify | fingerprint }}
<link href="{{ $css.RelPermalink }}" rel="stylesheet" />

{{ $css := resources.Get "scss/pagination.scss" | toCSS | minify | fingerprint }}
<link href="{{ $css.RelPermalink }}" rel="stylesheet" />

{{ with .Params.redirect_url }}
<meta http-equiv="refresh" content="0; url={{ . }}">
{{ end }}