<div class="home-header">
    {{ partial "logo.html" (dict "content" . ) }}
    <div class="menubar">
        {{ partial "menuToggle.html" (dict "content" . "menu" ".menuItem") }}

        <ul class="menuItem">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/posts">Posts</a></li>
        </ul>
    </div>

</div>

<script>
    $(window).scroll(function () {
        $(".home-header").toggleClass('sticky', window.scrollY > 10)
        $(".xksec-logo").toggleClass('black', window.scrollY > 10)
    })
</script>