
<div class="home-header">
    <div class="home-logo">
        <img class="logo-image" src="/images/transparent.png">
        <img class="logo-name" src="/images/transparent.png">
    </div>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="/posts">Posts</a></li>
    </ul>
</div>

<script>
    window.addEventListener('scroll', function () {
        var header = document.querySelector('.home-header')
        header.classList.toggle('sticky', window.scrollY > 10)
    })
</script>